$InternationalOrange: #FF5500;
$Alabaster: #F7F7F7;
$Gray: #7F7F7F;
$White: #FFFFFF;
$Silver: #CCCCCC;
$MineShaft: #333333;
$DoveGray: #666666;
$Tundora: #4C4C4C;
$SilverChalice: #B2B2B2;
$BlazeOrange:#FF5E00;
$Scooter: #35CBDB;
$Gallery: #ECECEC;