.container {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0);
    z-index: 9999;
    >div {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
        width: 160px;
        height: 160px;
        border-radius: 10px;
        background-color: rgba(0, 0, 0, .4);
        .spinner:before {
            content: '';
            box-sizing: border-box;
            position: absolute;
            top: 50%;
            left: 50%;
            width: 80px;
            height: 80px;
            margin-top: -40px;
            margin-left: -40px;
            border-radius: 50%;
            border: 2px solid #ccc;
            border-top-color: #07d;
            animation: spinner .6s linear infinite;
        }
    }
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}